@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background: #0a0a0a;
    --foreground: #ededed;

} 
body{
    background: var(--background);
    color: var(--foreground);
    cursor: none;
    overflow-x: hidden;
}

.mask-layer{
    will-change: mask-image, -webkit-mask-image;
}